body{
  background-image: linear-gradient(to bottom right, #2f6898, #1d405e);
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  vertical-align: bottom;
}

nav a:hover{
  background-color: #ddd;
  color: black;
}

.toppart{
  margin: auto;
  text-align: center;
}

.welcome{
  margin: auto;
  text-align: center;
}

.welcomelogo{
  width: 45%;
}

.tagline{
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  padding-top: 10px;
}

h2{
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
}


.option{
  border: 6px solid #a2b7ce;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: auto;
}

.icon{
  float: left;
}

.choice{
  color: white;
  font-family: 'Rubik';
  font-size: 1.5em;
  padding-left: 20px;
  vertical-align: middle;
}

.libor{
  background: white;
  color: #1d405e;
  font-family: 'Rubik', sans-serif;
  padding: 50px;
}

.title{
  overflow-wrap: normal;
}

.row{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.letstalk{
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-right: 120px;
}



.talk{
  background-color: #a2b7ce;
  color: #1d405e;
  font-family: 'Open Sans Bold', sans-serif;
}

.press{
  background-image: linear-gradient(to bottom, #1d405e, #73317e);
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 40px;
}

.logo {
  width:100%;
  max-height: 50px;
  max-width: 150px;
  margin 0 auto;
  padding: 0px 10px 0px 10px;
}

.transition {
    background-image: linear-gradient(to bottom, #73317e, #255379);
}

.story {
  background-image: linear-gradient(to bottom, #2f6898, #1d405e);
  color: white;
  font-family: "Rubik", sans-serif;
}

.storystory{
  padding: 50px 50px 0px 50px;
  font-size: 1.5em;
}

.heading{
  margin: auto;
}

.item{
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.iconheader{
  max-height: 120px;
  float: left;
}

.titleheader{
  font-size: 2.5em;
  color: white;
  vertical-align: middle
}

p.systems{
  color: white;
  font-family: "Rubik", sans-serif;
  padding-right: 100px;
  font-size: 1.5em;
}

.systemscase{
  color: #c4f1be;
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
}

.systemscase:hover{
  color: white;
}

.letstalk2{
  margin: 0 auto;
  width: 60%;
}

.litmiddle{
  background: white;
}

.screenshot{
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshottitle{
  font-size: 1.5em;
  color: #1d405e;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
}

.screenshotimage{
  max-height: 600px;
  max-width: 600px;
  float: left;
}

.conmiddle{
  background: white;
}

.conscreenshotimage{
  max-width: 600px;
  float: left;
  padding-top: 10px;
}

.liborheader{
  font-size: 2em;
  color: #1d405e;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  vertical-align: middle;
  width: 80%;
}

.liborbody{
  width: 80%;
}

p.libortext{
  color: #1d405e;
  font-family: "Rubik", sans-serif;
  padding-right: 100px;
  font-size: 2em;
  font-weight: bolder;
}

.liborcase{
  color: #1d405e;
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  text-align: left;
  padding-left: 0;
}

.liborcase:hover{
  color: #a2b7ce;
}

.press a{
  color: #a2b7ce;
  font-size: 1.5em;
  font-weight: bold;
}
.press a:hover{
  color: white;
}

.contactsection{
  color: white;
}

.contactheader{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
}

.contactformleft{
  padding-left: 50px;
}

.contactformright{
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
}

.contactformright p{
  padding-top: 15px;
}

.contactformright a{
  color: white;
}

.contactformright a:hover{
  color: white;
}

.gsform{
  background-color: #3b6587;
  border-radius: 0px;
  border-color: #9db5c8;
  width: 500px
}

.form-control::placeholder{
  color: #9db5c8;
}

.submit{
  border-radius: 0px;
  padding: 15px 40px 15px 40px;
}

.submit:hover{
  color: #1d405e;
}

.service{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #a2b7ce;
  padding: 20px;
  margin: 2px;
}

.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.servimage{
  max-height: 80px;
  float: left;
}

.servtitle{
  font-size: 1.5em;
  color: white;
  font-family: "Rubik", sans-serif;
  padding-left: 10px;
}

a.servLink{
  text-decoration: none;
  z-index: 10;
  color: #9db5c8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*a.servLink:hover{
  color: #9db5c8;
}*/

.service:hover{
  background-color: white;
}

/*.service:hover .servtitle{
  color: #9db5c8;
}*/

.modal-content{
  background: #1d405e;
}

.modal-header{
  background: white;
}

.casestudy{
  background-color: none;
  color: #c4f1be;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  padding-left: 0px;
  text-align: left;
}

.casestudy:hover{
  color: white;
}

.teamplayer{
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid #1d405e;
}

.teambio{
  color: #1d405e;
  background-color: white;
  padding: 20px;
  box-shadow: 5px 10px;
}

.teamphoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 500px;
}
